@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Fira Code";
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Code";
    font-weight: 300; /* Light */
    font-style: normal;
    src: url("/fonts/FiraCode-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Code";
    font-weight: 500; /* Medium */
    font-style: normal;
    src: url("/fonts/FiraCode-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Code";
    font-weight: 600; /* SemiBold */
    font-style: normal;
    src: url("/fonts/FiraCode-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Code";
    font-weight: 700; /* Bold */
    font-style: normal;
    src: url("/fonts/FiraCode-Bold.ttf") format("truetype");
  }

  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #00416a;
    --background: 216 100% 98.42%;
    --foreground: 216 10% 0.84%;

    --muted: 216 10% 92.1%;
    --muted-foreground: 216 5% 42.1%;

    --popover: 216 10% 92.1%;
    --popover-foreground: 216 10% 1.05%;

    --card: 216 10% 92.1%;
    --card-foreground: 216 10% 1.05%;

    --border: 216 15% 89.84%;
    --input: 216 15% 89.84%;

    --primary: 216 100% 21%;
    --primary-foreground: 216 2% 92.1%;

    --secondary: 216 5% 96.05%;
    --secondary-foreground: 216 7% 12.1%;

    --accent: 216 5% 96.05%;
    --accent-foreground: 216 7% 12.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 216 100% 21%;

    --radius: 0.5rem;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    padding: 3px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--border));
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted));
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--muted));
  }

  [data-theme="dark"] {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #00f5a0;

    --background: 169 65% 3.84%;
    --foreground: 169 10% 97.4%;

    --muted: 169 50% 14.399999999999999%;
    --muted-foreground: 169 10% 54.8%;

    --popover: 169 45% 6.24%;
    --popover-foreground: 169 10% 97.4%;

    --card: 169 45% 6.24%;
    --card-foreground: 169 10% 97.4%;

    --border: 169 50% 14.399999999999999%;
    --input: 169 50% 14.399999999999999%;

    --primary: 169 100% 48%;
    --primary-foreground: 169 10% 4.8%;

    --secondary: 169 50% 14.399999999999999%;
    --secondary-foreground: 169 10% 97.4%;

    --accent: 169 50% 14.399999999999999%;
    --accent-foreground: 169 10% 97.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 169 10% 97.4%;

    --ring: 169 100% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-muted-foreground;
    font-family: "Fira Code", monospace; /* Fallback to monospace */
    font-weight: 300; /* Light */
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
.window-frame {
  -webkit-app-region: drag;
}
.window-frame .actions {
  -webkit-app-region: no-drag;
}
.rcs-inner-handle {
  background-color: hsl(var(--primary)) !important ;
}
